absl-py==2.1.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1

asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
atomicwrites==1.4.0
attrs==23.2.0

awscli==1.38.4
axios==0.4.0
Babel==2.15.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.3

bleach==6.1.0
blinker==1.9.0
blis==1.3.0

boto3==1.37.4
botocore==1.37.4

build==1.2.2.post1
catalogue==2.0.10
cffi==1.16.0
chroma-hnswlib==0.7.6
chromadb==0.6.3
cloudpathlib==0.21.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2

confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
docutils==0.16
durationpy==0.9
edlib==1.3.9.post1
executing==2.0.1
fastapi==0.115.11
fastjsonschema==2.20.0
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
gast==0.6.0
google-auth==2.38.0
google-pasta==0.2.0
googleapis-common-protos==1.69.1
grpcio==1.66.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.29.3
humanfriendly==10.0
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
jiter==0.9.0
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keras==3.5.0
kiwisolver==1.4.5
kubernetes==32.0.1
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.51
langchain-ollama==0.3.0
langchain-text-splitters==0.3.6
langcodes==3.5.0
langsmith==0.3.15
language_data==1.3.0
libclang==18.1.1
lightning-utilities==0.11.8
linkedin-api==2.3.1
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
marshmallow==3.26.1
matplotlib==3.9.2
mdurl==0.1.2
mistune==3.0.2
mkl-service==2.4.0
ml-dtypes==0.4.0
mmh3==5.1.0
monotonic==1.6
mpmath==1.3.0
murmurhash==1.0.12
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
notebook_shim==0.2.4
numpy==2.2.5
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.21.0
openai==1.68.2
opentelemetry-api==1.31.0
opentelemetry-exporter-otlp-proto-common==1.31.0
opentelemetry-exporter-otlp-proto-grpc==1.31.0
opentelemetry-instrumentation==0.52b0
opentelemetry-instrumentation-asgi==0.52b0
opentelemetry-instrumentation-fastapi==0.52b0
opentelemetry-proto==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
opentelemetry-util-http==0.52b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
platformdirs==4.2.2
posthog==3.20.0
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.29.3
psutil==6.0.0
pure_eval==0.2.3
pyasn1-modules==0.2.8
pycparser==2.22
pydantic==2.11.2
pydantic-settings==2.8.1
pydantic_core==2.33.1
Pygments==2.18.0
pyls-spyder==0.4.0
PyMuPDF==1.25.5
pynndescent==0.5.13
pyparsing==3.1.2
pypdf==5.4.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pywin32==306
pywinpty==2.0.13
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
rpds-py==0.19.1
rsa==4.7.2
s3transfer==0.11.3
safetensors==0.5.3
seaborn==0.13.2
selenium==4.26.1
Send2Trash==1.8.3
sentence-transformers==3.4.1
setuptools==71.1.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.1
sympy==1.13.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.1
textblob==0.18.0.post0
thinc==8.3.6
tinycss2==1.3.0
tokenizers==0.21.1

torch==2.6.0
torchaudio==2.4.1+cu124
torchmetrics==1.5.1
torchvision==0.19.1+cu124
tornado==6.4.1
traitlets==5.14.3
transformers==4.49.0
trio==0.27.0
trio-websocket==0.11.1

typer==0.15.2
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.7
uri-template==1.3.0
uvicorn==0.34.0
wasabi==1.1.3
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.6.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.44.0
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
